@{
    ViewBag.Title = "Home Page";
}

@using System.Web.UI.WebControls
@model TicTacToeMVC.Models.TicTacToeViewModel

<div class="row">
    @using (Html.BeginForm("Input", "Home", FormMethod.Post))
    {
    
        <table>
            <tr>
                <td id="0">@Model.TopLeft</td>
                <td id="1">@Model.TopCenter</td>
                <td id="2">@Model.TopRight</td>
            </tr>
            <tr>
                <td id="3">@Model.MiddleLeft</td>
                <td id="4">@Model.MiddleCenter</td>
                <td id="5">@Model.MiddleRight</td>
            </tr>
            <tr>
                <td id="6">@Model.BottomLeft</td>
                <td id="7">@Model.BottomCenter</td>
                <td id="8">@Model.BottomRight</td>
            </tr>
        </table>
        @Html.DropDownListFor(m=>m.Selected,Model.PositionList)
        <input type="submit" @(Model.SubmitEnable ? "" : "disabled") class="btn btn-info" value="Submt" />
        <input type="button" class="btn btn-info" value="ReStart" onclick="location.href='@Url.Action("Index", "Home")'" />

    }
</div>
@Html.DisplayTextFor(x=>x.Result)